<div class="flex-shrink-0 p-3" style="width: 280px;">
  <a class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
     href="/">
    <svg class="bi pe-none me-2" height="24" width="30">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">Collapsible</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button aria-expanded="false"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#home-collapse" data-bs-toggle="collapse">
        Home
      </button>
      <div class="collapse" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Overview</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Updates</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Reports</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button aria-expanded="false"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#dashboard-collapse" data-bs-toggle="collapse">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Overview</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Weekly</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Monthly</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Annually</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button aria-expanded="false"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#orders-collapse" data-bs-toggle="collapse">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">New</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Processed</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Shipped</a>
          </li>
          <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Returned</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button aria-expanded="false"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#account-collapse" data-bs-toggle="collapse">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" href="#">New...</a>
          </li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" href="#">Profile</a>
          </li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded"
                 href="#">Settings</a></li>
          <li><a class="link-dark d-inline-flex text-decoration-none rounded" href="#">Sign
            out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
